@import "fonts";

* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  font-weight: 400;
}

.header {
  background-color: #e6e6fa;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 48px;
}

.current {
  color: green;
}