@import "fonts";

* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  font-weight: 400;
  margin: 0;
}

.header {
  background-color: #e6e6fa;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 48px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6fa;
  border-bottom: 1px solid #000;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {font-weight: 600;}

ul.topnav li a.active {font-weight: 600;}

.banner-title {
  font-weight: 200;
  font-size: 60px;
}

hr.solid {
  border-top: 1px solid #000;
}